body{
    background-color: black;
}
main{
    width: 92vw;
    border: 1px solid greenyellow;
    height: 1500px;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    background-color: #111111;
}

#home-page-section{
    width: 100%;
    height: 100px;
    background-color: #0a53be;
}